{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}

<h1>Article Form</h1>

<form action="", method="POST"> <!-- action에 주소 안넣으면 자기 자신에게 반환 -->
    {% csrf_token %}
    <!-- <label for="">Title</label>
    <input type="text", name='title'>
    <label for="">Content</label>
    <textarea name="content" id="" cols="30" rows="10"></textarea> -->
    <!-- {{ article_form.as_p }} -->
    {% bootstrap_form article_form %}  <!-- 폼을 예쁘고 깔끔하게 변경 -->
    {% buttons submit='작성하기' %} <!-- 버튼 예쁘게 변경 -->
        <!-- 추가 버튼 생성 가능 -->
    {% endbuttons %}
    <!-- <input type="submit"> -->

</form>

{% endblock %}